langchain
streamlit
langchain_community
langchain-aws
langchain-experimental
boto3>=1.34.116
pdfplumber
pypdf
python-dateutil==2.8.2
faiss-cpu
opensearch-py
pdf2image
psycopg2-binary
plotly
numpy
langgraph
py2neo
neo4j